/* Hero image */
.heroImage {    
    margin: 0;
    width: 100%;
    height: 400px;
    background-image: url('../inicio/main/photos/hero-image.jpg');
    background-size: cover;
    background-position: center;

}

.heroImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  padding: 2rem 3rem;
  border-radius: 10px;
  text-align: center;
}

.heroImage h1, .heroImage h2, .heroImage p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
}

/* Hero buttons */

.hero-buttons a{
    background-color: #0a1045;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
}
.hero-buttons a:hover{
    background-color: #1a237e;
}

.hero-buttons{
    margin-top: 20px;
}

/* Explicacion de uso */

.como-funciona{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.como-funciona-title{
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
}

.cajas-explicativas{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.caja{
background: #e8eaf6;
margin: 20px;
padding: 20px;
text-align: center;
min-height: 200px;
border: 2px solid #1a237e;
border-radius: 12px;
padding: 1.5rem;
}
.caja-4{
    grid-column: 2;
}

.caja p{
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 18px;
}
.caja a{
    color: #f7f742;
    text-decoration: underline;
}
.caja h2{
   text-decoration: underline;
}

/* Estadísticas generales */

.estadisticas-generales {
    background: #e8e8e8;
    padding: 2rem;
    text-align: center;
}

.estadisticas-generales h1 {
    margin-bottom: 2rem;
    color: #1a237e;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin: 100px auto;
    gap: 30px;
}

.card {
    background-color: #1a237e;
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 12px rgba(63, 81, 181, 0.5);
    height: 150px;
    justify-content: center;
}

.stat-num {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.stat-label {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 4px;
}