.contenedor-coleccion{
display:grid;
grid-template-columns: repeat(4, 1fr);
/* grid-template-rows: repeat(3, 1fr); */
gap:1.5rem;
margin:0.9rem;
}
.contenedor-coleccion h1{
grid-column: 1 / -1;
margin: 0;
}
.card{
width:100%;
height:100%;
display:flex;
flex-direction: column;
border: 1px solid black;
padding: 1rem;
border: 5px solid transparent;
border-image: linear-gradient(45deg, black, #274DEA) 1;

}
.card img{
width: 100%;
height: 100%;
object-fit: cover;
}