.registro {
    text-align: center;
    margin: 50px auto;
    background-color: white;
    width: 420px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
}

.campos {
    text-align: center;
    flex: 1;
    margin-right: 20px;
}

.contenido {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.ingresar {
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}


button {
    padding: 12px;
    background-color: #0b1b56;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.link-iniciar-sesion {
     color: rgb(25, 22, 182);
}

h2 {
    text-align: center;
    color: #0b1b56;
    margin-bottom: 15px;
}

input[type="file"] {
    display: none; 
}

label {
    font-weight: bold;
    color: #333;

}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}
input:focus {
    border-color: #2b7cff;
}

 button:hover {
    background-color: #2b7cff;
}

a:hover {
    text-decoration: underline;
}


.zona-drop {
    width: 150px;
    height: 225px;
    background-color: #DCDBD9;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    flex-shrink: 0;
}

#mensaje{
    margin-top: 2em;
}
.error{
    color: crimson;
}

.exitoso{
    color: rgb(1, 181, 25);
}
